<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokémon pairs!</title>
  <!-- <link rel="icon" href=""/> -->
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <main class="page">
    <h1 class="title">Pokémon pairs</h1>
    <h2 class="subtitle">Choose the number of pairs below... and have fun!</h2>

    <div class="form">
      <ul class="options-list">
        <li class="list__item">
          <label for="option1">
            <input type="radio" id="option1" name="number-options">
            4
          </label>
        </li>

        <li class="list__item">
          <label for="option2">
            <input type="radio" id="option2" name="number-options">
            6
          </label>
        </li>

        <li class="list__item">
          <label for="option3">
            <input type="radio" id="option3" name="number-options">
            8
          </label>
        </li>
      </ul>
      <button type="button" class="btn">Click here to start</button>
    </div>

    <div class="results"></div>

  </main>
  <script src="assets/js/main.js"></script>
</body>
</html>
